{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Mail sender |
   {% block title %}

  {% endblock %}
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="{% static 'images/logo.jpg' %}" rel="icon" type="image/x-icon"/>
 </head>
 <body>
  <div class="flex flex-col min-h-screen">
   <header class="">
    <nav class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start" data-te-navbar-ref="">
     <div class="flex w-full flex-wrap items-center justify-between px-3">
      <!-- Navigation links -->
      <div class=" grow items-center flex basis-auto">

       <ul class="mr-auto flex flex-col lg:flex-row" data-te-navbar-nav-ref="">
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref="">
         <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&amp;.active]:text-black/90" data-te-nav-link-ref="" data-te-ripple-color="light" data-te-ripple-init="" href="/">
          Home
         </a>
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref="">
         <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&amp;.active]:text-black/90" data-te-nav-link-ref="" data-te-ripple-color="light" data-te-ripple-init="" href="{% url 'send-email' %}">
          Send email(s)
         </a>
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref="">
         <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&amp;.active]:text-black/90" data-te-nav-link-ref="" data-te-ripple-color="light" data-te-ripple-init="" href="{% url 'create-task' %}">
          Create a task
         </a>
        </li>
        <li class="mb-2 lg:mb-0 lg:pr-2" data-te-nav-item-ref="">
         <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&amp;.active]:text-black/90" data-te-nav-link-ref="" data-te-ripple-color="light" data-te-ripple-init="" href="{% url 'tasks' %}">
          Tasks
         </a>
        </li>
        <li class="mb-2 lg:mb-0 lg:pr-2" data-te-nav-item-ref="">
         <a class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:hover:text-white dark:focus:text-white lg:p-2 [&amp;.active]:text-black/90" data-te-nav-link-ref="" data-te-ripple-color="light" data-te-ripple-init="" href="{% url 'history' %}">
          History
         </a>
        </li>

       </ul>

       <ul class="flex flex-col lg:flex-row">
        <li class="mb-4 lg:mb-0 lg:pr-2">
         Hello, {{request.user.username}}!
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2">
         <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
             <button class="px-3 py-2 hover:bg-gray-200 hover:text-gray-800 rounded-md " type="submit">
                 Log Out
             </button>
         </form>
        </li>

       </ul>

      </div>
     </div>
    </nav>
    <!-- Hero section with background image, heading, subheading and button -->
    <div class="relative overflow-hidden bg-cover bg-no-repeat" style="
      background-position: 50%;
      background-image: url({% static '/images/bg.jpg' %});
      height: 200px;
    ">
     <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.75)">
      <div class="flex h-full items-center justify-center">
       <div class="px-6 text-center text-white md:px-12">
        <h1 class="mb-6 text-5xl font-bold">
         Mail sender
        </h1>
        <h3 class="mb-8 text-3xl font-bold">
         Your personal email assistant
        </h3>
       </div>
      </div>
     </div>
    </div>
   </header>

   <main class="grow">
     {% block main %}
     {% endblock %}
   </main>

   <footer>
    <div class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
     <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
       © 2024
       <a class="hover:underline" href="https://flowbite.com/">
        Flowbite
       </a>
       . All Rights Reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
       <li>
        <a class="hover:underline me-4 md:me-6" href="#">
         About
        </a>
       </li>
       <li>
        <a class="hover:underline me-4 md:me-6" href="#">
         Privacy Policy
        </a>
       </li>
       <li>
        <a class="hover:underline me-4 md:me-6" href="#">
         Licensing
        </a>
       </li>
       <li>
        <a class="hover:underline" href="#">
         Contact
        </a>
       </li>
      </ul>
     </div>
    </div>
   </footer>

  </div>
  <script crossorigin="anonymous" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>
 </body>
</html>
