{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block main %}
<div class="w-100 h-100 flex justify-center items-center">
    <div class="flex flex-col justify-center mt-5">
        <div>Through this service you can send email, send group email, create task to send emails at a specific time.</div>
        <div class="flex flex-col items-center justify-center my-5">
            <div class="my-3">
                <a class="bg-gradient-to-br py-2 px-2 rounded-md text-white text-xl w-full bg-green-500 hover:bg-green-800" href="{% url 'send-email' %}">Send email(s)</a>
            </div>
            <div class="my-3">
                <a class="bg-gradient-to-br py-2 px-2 rounded-md text-white text-xl w-full bg-green-500 hover:bg-green-800" href="{% url 'create-task' %}">Create a task</a>
            </div>

            <div class="my-3">
                <a class="bg-gradient-to-b py-2 px-2 rounded-md text-white text-xl w-full bg-green-500 hover:bg-green-800" href="{% url 'tasks' %}">Tasks</a>
            </div>
            <div class="my-3">
                <a class="bg-gradient-to-b py-2 px-2 rounded-md text-white text-xl w-full bg-green-500 hover:bg-green-800" href="{% url 'history' %}">History</a>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}