{% extends 'core/base.html' %}
{% load static %}
{% load my_filters %}
{% block title %} Sign Up {% endblock %}

{% block main %}
<div class="flex justify-center items-center">
    <div class="mt-10 w-4/12">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in signup_form %}
                <div class="mb-6">
                    <span class="text-red-600"> {{ field.errors }} </span>
                    <label for="{{field.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label_tag }}</label>
                    {{ field|addclass:'bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }}
                </div>
            {% endfor %}
            <div class="flex justify-center items-center">
                <button class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Submit</button>
            </div>

            <div class="text-center mt-5 space-x-2">
                <p class="text-base"> Do you have an account? <a href="{% url 'signin' %}"> Sign In </a></p>
            </div>

        </form>
    </div>

</div>

{% endblock %}