{% extends 'core/base.html' %}
{% load static %}
{% block title %} Tasks {% endblock %}

{% block main %}
<div class="w-100 h-100 flex justify-center items-center">
    <div class="flex flex-col justify-center mt-2">

        <div class="flex flex-col items-center justify-center text-2xl">Tasks</div>
        <div class="flex flex-col items-center justify-center">
          <div class="overflow-x-auto  w-full">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8 w-full">
              <div class="overflow-hidden w-full">
                <table class="min-w-full text-left text-sm font-light w-full">
                  <thead
                    class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600">
                    <tr>
                      <th scope="col" class="px-6 py-4">Id</th>
                      <th scope="col" class="px-6 py-4">Name</th>
                      <th scope="col" class="px-6 py-4">Emails</th>
                      <th scope="col" class="px-6 py-4">Subject</th>
                      <th scope="col" class="px-6 py-4">Interval</th>
                      <th scope="col" class="px-6 py-4">Date of creation</th>
                      <th scope="col" class="px-6 py-4">Enabled</th>
                      <th scope="col" class="px-6 py-4"></th>
                      <th scope="col" class="px-6 py-4"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for task in tasks %}
                      <tr
                        class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700 ">
                        <td class="whitespace-nowrap px-6 py-4 font-medium">{{task.id}}</td>
                        <td class="whitespace-nowrap px-6 py-4 font-medium">{{task.task.name}}</td>
                        <td class="whitespace-nowrap px-6 py-4">
                          {% for email in task.emails.values %}
                            <div>{{email}}</div>
                          {% endfor %}
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">{{task.subject|truncatechars:30}}</td>
                        <td class="whitespace-nowrap px-6 py-4">Every {{task.task.interval.every}} {{task.task.interval.period}}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{task.task.date_changed}}</td>
                        <td class="whitespace-nowrap px-6 py-4">
                          {% if task.task.enabled %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="fill-green-700 w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                            </svg>
                          {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
                            </svg>
                          {% endif %}

                        <td class="whitespace-nowrap px-6 py-4">
                          <form method="POST" action="{% url 'enable-disable-task' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{task.task.id}}" name="beat_task_id">
                            <button>
                              {% if task.task.enabled %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9v6m-4.5 0V9M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                              {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
                                </svg>
                              {% endif %}
                            </button>
                          </form>
                        </td>

                        <td class="whitespace-nowrap px-6 py-4">
                          <form method="POST" action="{% url 'delete-task' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{task.task.id}}" name="beat_task_id">
                            <button>
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                              </svg>
                            </button>
                          </form>
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
    </div>

</div>

{% endblock %}